{% extends 'twt_tutorial_app/base.html' %}

{% block title %}
	Home
{% endblock %}

{% block content %}
	<h3>My Lists</h3>
	<p>home.html</p>
	<br>
	{% if num_of_list_user_has > 0 %}
		{% for list in user.todolist.all %}
			<h6 class="lists">
				<a style="text-decoration: none; color: #000; font-size: 18px;", href="/{{ list.id }}", onMouseOver="this.style.color='#555', this.style.fontSize='19px'" onMouseLeave="this.style.color='#000', this.style.fontSize='18px'">{{ list.name }}</a>
			</h6>
		{% endfor %}
	{% else %}
		<h5>You haven't created any lists yet</h5>
		<h6>Create a new list below</h6>
	{% endif %}
		<br><br>
	<form method="post", action="/" class="form-group">
		{% csrf_token %}
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<button type="submit", name="save" class="btn btn-primary">Create New List</button>
			</div>	
			{{ form.name }}
		</div>	
	</form>
{% endblock %}
