{% extends 'twt_tutorial_app/base.html' %}

<style type="text/css">
	
	.lists {
		color: #111;
		text-decoration: none;
	}

</style>

{% block title %}
	View
{% endblock %}

{% block content %}
	<h3>My Lists</h3>
	<p>view.html</p>
	<br>
		{% for list in user.todolist.all %}
			<h6 class="lists"><a href="/{{ list.id }}">{{ list.name }}</a></h6>
		{% endfor %}
		<br><br>
	<form method="post", action="/" class="form-group">
		{% csrf_token %}
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<button type="submit", name="save" class="btn btn-primary">Create New List</button>
			</div>	
			{{ form.name }}
		</div>	
	</form>
{% endblock %}
