{% extends "twt_tutorial_app/base.html" %}

{% block title %}
	User Login
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
	<h3>User Login</h3>
	<form method="POST" class="form-group">
		{% csrf_token %}
		{{ form | crispy }}
		<p>New to Lists? <a href="/register">Create an account.</a></p>
		<button type="submit", class="btn btn-primary">Login</button>
		<a href="/forgot_password", style="margin-left: 15px; font-size:12px;">Forgot password?</a>
	</form>
{% endblock %}
