html,
body {
  height: 100%;
}

body {
  padding-top: 5rem;
  background-color: #f5f5f5;
}

.form-floating {
  color: green;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-signin {
  max-width: 25rem;
  margin: auto;
}