<h1>Edit Recipe</h1>

<%= render 'form', recipe_book: @recipe_book %>

<br/>
<%= link_to 'Show', @recipe_book, class:"btn btn-secondary" %>
<%= link_to 'Back', recipe_books_path, class:"btn btn-secondary" %>
